{
    "onshape_api": "https://cad.onshape.com",
    "onshape_access_key": "[ACCESS KEY]",
    "onshape_secret_key": "[SECRET KEY]"

    // Import options
    "documentId": "483c803918afc4d52e2647f0",
    "assemblyName": "robot",
    "outputDirectory": "urdf",
    "drawFrames": false,
    "drawCollisions": false,
    "useScads": true
}